@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// $main-BGcolor: #F5F5F5;
$main-BGcolor: rgb(148, 148, 148);
$sidebar-BGcolor: #056571;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#App {
    font-family: 'Source Sans Pro', sans-serif;
    background: $main-BGcolor;
    display: flex;
    justify-content: center;
    // flex-direction: row;
    height: 100vh;
    width: 100vw;

    #center-content {
        border-left: 2px #333 solid;
        border-right: 2px #333 solid;
        display: flex;
        flex-direction: row;
        width: 950px;
        height: 100%;

        #sidebar-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 25px;
            background: $sidebar-BGcolor;
            height: 100%;
            width: 210px;
    
            .tab {
                font-size: 25px;
                padding: 10px 20px;
                margin: 5px 0;
                margin-left: 2px;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                cursor: pointer;
                color: #fff;
            }
        }
    
        #content-container {
            height: 100%;
            width: 80%;
            background: #f5F5F5
        }
    }

}


