$off-white: #F5F5F5;
$teal: #056571;

$font-size: 18px;

#Edit-component {
     padding: 30px 35px;
     height: 100vh;

     #edit-info-container {
          border: 2px #333 solid;
          height: 455px;
          padding-left: 20px;
          max-width: 900px;
          min-width: 750px;
          width: 100%;
     
          #input-container {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               // margin-top: 10px;
               margin-bottom: 10px;
               padding: 10px;

               .info-label { font-size: 22px; }

               .submit-btn {
                    height: 35px;
                    width: 85px;
                    margin-left: 20px;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 5px;
                    background: $teal;
                    color: $off-white;
               }
          }

          #current-updated-container {
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
               align-items: flex-start;

               .horizontal-row {
                    background-color: black;
                    margin: 5px 0px;
                    border: none;
                    width: 70px;
                    height: 2px;
               }

               .updated-info-number {
                    font-size: $font-size;
                    height: 25px;
                    margin-left: 5px;
                    width: 35px;
               }

               .input-label {
                    font-size: $font-size;
                    margin-right: 5px;
               }

               .input-value {
                    font-size: $font-size;
                    width: 20px;
                    margin-left: 5px;
               }

               #updated-item-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-top: 20px;
                    font-size: 14px;
                    height: 150px;

                    #updated-row-column-container {
                         display: flex;
                         flex-direction: row;
                         justify-content: space-between;
                         align-items: center;
                         width: 210px;
                    }

                    #updated-image-container {
                         display: flex;
                         flex-direction: row;
                         justify-content: space-between;
                         align-items: center;
                         width: 250px;
                    }
               }
               
          }

          .update-btn {
               margin-top: 25px;
               margin-bottom: 10px;
               height: 35px;
               width: 85px;
               outline: none;
               cursor: pointer;
               font-size: 14px;
               border-radius: 5px;
               background: $teal;
               color: $off-white;
          }
     }
}

