#itemPreview-container {
     border: 1px #333 solid;
     position: relative;
     display: grid;
     grid-template-areas: "image name quantity row column";
     grid-template-columns: .5fr 1fr .5fr .5fr .5fr;
     margin-bottom: 8px;
     transition: all .15s ease-out;
     width: 100%;
     height: 65px;

     #itemImage-container {
          grid-area: image;
          display: flex;
          justify-content: center;
          align-items: center;

          .image-placeholder {
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               height: 50px;
               width: 50px;
               overflow: hidden;
               border: 1px #333 solid;
               border-radius: 10px;

               .image {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
               }
          }

     }

     #itemName-container {
          grid-area: name;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .itemName {
               padding-left: 10px;
               font-size: 20px;
          }
     }

     #itemQuantity-container {
          grid-area: quantity;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .itemQuantity {
               font-size: 21px;
          }
     }

     #itemRow-container {
          grid-area: row;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .itemRow {
               font-size: 21px;
          }
     }

     #itemColumn-container {
          grid-area: column;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .itemColumn {
               font-size: 21px;
          }
     }

     #delete-icon {
          position: absolute;
          cursor: pointer;
          top: -5px;
          right: -5px;
          
          &:hover { color: rgb(230, 21, 21); }
     }
}