$off-white: #F5F5F5;
$teal: #056571;

#Add-component, #Locate-component {
     padding: 30px 35px;
     height: 100vh;

     #item-info-container {
          padding-left: 20px;
          height: 350px;
          max-width: 900px;
          border: 2px #333 solid;

          #input-container {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               padding: 10px;

               .info-label { font-size: 22px; }

               .info-input {
                    font-size: 20px;
                    margin: 0px 20px;
                    height: 30px;

                    &.number { width: 50px;}
                    &.text { width: 120px;}
               }

               .submit-btn {
                    height: 35px;
                    width: 85px;
                    margin-left: 20px;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 5px;
                    background: $teal;
                    color: $off-white;

                    &.add-btn {
                         margin-top: 15px;
                    }
               }
          }

          #upload-container {
               display: flex;
               flex-direction: row;
               align-items: center;
               margin-top: 10px;
               padding-left: 10px;
          
               .label { font-size: 22px; margin-right: 20px; }
          }

          .item-exists-msg {
               padding-left: 10px;
               color: red;
          }

          #current-updated-container {
               display: flex;
               flex-direction: column;
               justify-content: space-evenly;
               align-items: flex-start;
          }
     }
}

